@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.header-title {
  text-align: center;
  flex: 1; /* Permite que ocupe el espacio disponible */
}

.darkmodeS{
  display: flex;
  justify-content: flex-end;
  margin: 2% 1%;
}


.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
}

.cipher-container {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.marc{
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.RSAcipher-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  gap: 2%;
}

.form-cipher {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  gap: 2%;
  padding: 2%;
}

.division{
  display: flex;
  flex-direction: column;
}

.info-cipher{
  width: 50%;
}


input {
  margin: 5px;
  width: 60%;
  padding: 10px;
  font-size: 1em;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: #282c34;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #61dafb;
}

.error-message {
  color: red;
  font-weight: bold;
}

.tbl {
  border-collapse: collapse;
  margin: 10px;
}
.tbl td {
  border: 1px solid black;
  text-align: center; /* Centra el texto en las celdas */
  padding: 8px; /* Añade un poco de espacio dentro de las celdas */
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
  margin-bottom: 2%;
}

.grid-container label {
  grid-column: span 1;
}

.grid-container input {
  grid-column: span 3;
}


.App {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.App.dark {
  background-color: #121212;
  color: white;
}

.App-header, .App-footer {
  padding: 20px;
}


/* From Uiverse.io by EddyBel */ 
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
  transform-style: preserve-3d;
  perspective: 500px;
  animation: toggle__animation 3s infinite;
}

.switch::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(20px);
  z-index: -1;
  border-radius: 50px;
  background-color: #d8ff99;
  background-image: radial-gradient(at 21% 46%, hsla(183,65%,60%,1) 0px, transparent 50%),
radial-gradient(at 23% 25%, hsla(359,74%,70%,1) 0px, transparent 50%),
radial-gradient(at 20% 1%, hsla(267,83%,75%,1) 0px, transparent 50%),
radial-gradient(at 86% 87%, hsla(204,69%,68%,1) 0px, transparent 50%),
radial-gradient(at 99% 41%, hsla(171,72%,77%,1) 0px, transparent 50%),
radial-gradient(at 55% 24%, hsla(138,60%,62%,1) 0px, transparent 50%);
}

/* Hide default HTML checkbox */
.switch input {
  margin-top: 10px;
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfefedc;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.8em;
  width: 0.8em;
  left: 0.3em;
  bottom: 0.35em;
  transition: .4s;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
     rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
  background-color: #ff99fd;
  background-image: radial-gradient(at 81% 39%, hsla(327,79%,79%,1) 0px, transparent 50%),
  radial-gradient(at 11% 72%, hsla(264,64%,79%,1) 0px, transparent 50%),
  radial-gradient(at 23% 20%, hsla(75,98%,71%,1) 0px, transparent 50%);
}

.input__check:checked + .slider {
  background-color: #17202A;
}

.input__check:checked + .slider:before {
  transform: translateX(1.5em);
}

@keyframes toggle__animation {
  0%, 100% {
    transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
  }

  50% {
    transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
  }
}


.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
  transition: background 0.3s;
}

.navbar a:hover {
  background-color: #ddd;
  color: #333;
}



@media screen and (max-width: 768px) {

  .App-header{
    flex-direction: column;
  }

  .header-title{
    margin-bottom: 2%;
  }

  .darkmodeS{
    padding: 2px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 5% 0;
  }

  .cipher-container {
    padding: 2%;
    display: block;
    gap: 3%;
  }

  .info-cipher{
    margin-left: 3%;
    width: 90%;
  }

  .form-cipher {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 80%;
  }

  button {
    width: 85%;
  }

  .grid-container{
    display: flex;
    flex-direction: column;
  }

  .keys{
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .navbar ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr)); /* Ajusta automáticamente */
    gap: 5%;
    align-items: center;
    margin-bottom: 2%;
  }

  .navbar a{
    margin: 5%;
    padding: 0;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px; /* Ajusta la posición desde la parte inferior de la pantalla */
  right: 20px;  /* Ajusta la posición desde la derecha de la pantalla */
  background-color: #333;
  padding: 10px 15px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-to-top a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.back-to-top a:hover {
  color: #FFD700; /* Cambia el color del enlace cuando el mouse pasa por encima */
}
